/*PAGINA DE CONTACTO*/

.bg-light {
    background-color: $p-color!important;
  }
  
  .bg-dark {
    background-color: $bg-primary-color!important;
  }
  
  .p-6 {
    padding: 2rem 7rem;
  }
  
  .contact-box {
    padding: 3rem;
    font-family: $title;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: $bg-primary-color !important;
    color: $p-color;
    letter-spacing: .05rem;
  }
  
  .btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
    background-color:$bg-secundary-color !important;
    border: solid 1px $details-color !important;
  }
  
  .btn-outline-dark {
    border: 2px solid $bg-primary-color;
  }
  
  
  .form-control {
    background-color: $bg-secundary-color;
    border: 2px solid $bg-primary-color;
    border-radius: .2rem;
    padding: 1.5rem 1rem;
  }
  
  .register-bg {
    background-image: url(../images/conor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .testiomonial {
    bottom: 10px;
  }
  
  
  @media (max-width: 550.98px) {
    .p-6 {
        padding: 5rem;
    }
  
    .contact-box {
        padding: 0;
    }
  
    .width-100 {
        width: 100%;
    }
  }
  
  @media (max-width: 1200px) { 
    .register-bg {
        display: none;
    }
  }
  
  /*CIERRE DE PAGINA DE CONTACTO*/
  
  
