$color-gradiant:linear-gradient(-225deg, #000000 0%, #0a0505 48%, #6d0707 100%);
$color-gradiant-secundary:linear-gradient(to top, #000000 0%, #6d0707 100%);
$color-gradiant-terciary: linear-gradient(to top, #000000 0%, #520404 100%);

$title:'Monserrat', sans-serif;
$details:'Open sans', sans-serif;

$details-color:red;
$p-color:white;
$bg-primary-color:black;
$bg-secundary-color:#6d0707;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


// Create your own map
$custom-colors: (
  "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

